* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

.wrapper {
   min-height: 100%;
   margin: 0px auto;
   overflow: hidden;
}

.header__top {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F4F9E2;
}

.header__texet {
   font-size: 24px;
   line-height: 27px;
   /* identical to box height */
   letter-spacing: -0.035em;
   margin-top: 27px;
   margin-right: 170px;
   color: #62D0DF;
}

@media (max-width: 1024px) {
   .header__texet {
      margin-right: 100px;
   }
}

@media (max-width: 768px) {
   .header__texet {
      margin-right: 50px;
   }
}

@media (max-width: 375px) {
   .header__texet {
      margin-right: 25px;
   }
}

.menu__list {
   position: relative;
   z-index: 99;
   display: flex;
   flex-wrap: wrap;
   margin-top: 38px;
}

.menu__link {
   font-size: 14px;
   line-height: 16px;
   color: #22356F;
   margin-right: 30px;
}

a.menu__link:hover {
   border-bottom: 2px solid;
   padding: 0 0 10px;
   width: 60px;
   text-align: center;
}


.button__top {
   position: relative;
   z-index: 999999;
   margin-top: 27px;
   width: 150px;
   height: 50px;
   color: #FFFFFF;
   background: #62D0DF;
   border-radius: 50px;
   margin-left: 287px;
}

.menu__icon {
   display: none;
}

@media (max-width: 1024px) {
   .button__top {
      margin-left: 200px;
   }
}

@media (max-width: 768px) {
   .button__top {
      margin-left: 50px;
   }
}

@media (max-width: 375px) {
   .header__top {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      align-items: center;
      justify-content: space-between;
      min-height: 80px;
      max-width: 375px;
   }

   .menu__icon {
      display: block;
      z-index: 25;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }

   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
      left: 50%;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #22356F;
   }

   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }

   .menu__icon::before {
      top: 0;

   }

   .menu__icon::after {
      bottom: 0;
   }

   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .menu__icon.__active span {
      transform: scale(0) translate(0px, -50%);
   }

   .menu__icon.__active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .menu__icon.__active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 375px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }

   .menu__body.__active {
      left: 0;
   }

   .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 80px;
      background-color: #F4F9E2;
      z-index: 2;
   }

   .menu__list>li {
      flex-wrap: wrap;
      margin: 0px 0px 30px 0px;
   }

   .menu__list>li:last-child {
      margin: bottom 0;
   }

   .menu__list>li.__active .menu__sublist {
      display: block;
   }

   .menu__link {
      font-size: 24px;
   }

   .button__top {
      display: none;
      //margin-left: 50px;
   }

   .header__texet {
      display: none;
   }
}

.header__main {
   background-color: #F4F9E2;
}

.header__texet1 {
   font-size: 24px;
   line-height: 27px;
   letter-spacing: -0.035em;
   color: #62D0DF;
   padding-top: 187px;
   padding-left: 240px;
}

.header__texet2 {
   font-size: 48px;
   line-height: 53px;
   letter-spacing: -0.035em;
   padding-left: 240px;
   color: #22356F;
   padding-top: 20px;
}

.header__texet3 {
   font-size: 24px;
   line-height: 42px;
   padding-left: 240px;
   padding-top: 20px;
   color: #22356F;
}

.header__but1 {
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.1em;
   color: #FFFFFF;
   background: #F9B640;
   width: 150px;
   height: 50px;
   margin-left: 240px;
   margin-top: 63px;
   margin-bottom: 20px;
}

.header__but2 {
   width: 150px;
   height: 50px;
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.1em;
   color: #FAB63E;
   background: #F4F9E2;
   margin-left: 38px;
}

@media (max-width: 1024px) {
   .header__texet1 {
      padding-top: 100px;
      padding-left: 100px;
   }

   .header__texet2 {
      padding-left: 100px;
   }

   .header__texet3 {
      padding-left: 100px;
   }

   .header__but1 {
      margin-left: 100px;
   }
}

@media (max-width: 768px) {
   .header__texet1 {
      padding-top: 50px;
      padding-left: 50px;
   }

   .header__texet2 {
      padding-left: 50px;
   }

   .header__texet3 {
      padding-left: 50px;
   }

   .header__but1 {
      margin-top: 25px;
      margin-left: 50px;
   }
}

@media (max-width: 375px) {
   .header__texet1 {
      padding-left: 25px;
   }

   .header__texet2 {
      padding-left: 25px;
   }

   .header__texet3 {
      padding-left: 25px;
   }

   .header__but1 {
      margin-left: 25px;
      margin-top: 25px;
   }
}

#dude1 {
   z-index: 2;
   position: absolute;
   vertical-align: middle;
   left: 45%;
   top: -30px;
}

@media (max-width: 1024px) {
   #dude1 {
      display: none;
   }
}

@media (max-width: 768px) {
   #dude1 {
      display: none;
   }
}

.main__block1 {
   display: flex;
   background: #62D0DF;
}

.texet__1 {
   padding-top: 153px;
   padding-left: 178px;
   font-size: 36px;
   line-height: 27px;
   letter-spacing: -0.006em;

   color: #FFFFFF;
}

.texet__2 {
   padding-top: 75px;
   font-size: 24px;
   line-height: 35px;
   padding-left: 178px;
   color: #FFFFFF;
}

@media (max-width: 1024px) {
   .main__block1 {
      flex-wrap: wrap;
   }

   .texet__1 {
      padding-top: 100px;
      padding-left: 100px;
   }

   .texet__2 {
      padding-top: 50px;
      padding-left: 100px;
   }

   .img__girl img {
      max-width: 100%;
      height: 100%;
      object-fit: fill;
   }
}

@media (max-width: 768px) {
   .texet__1 {
      padding-top: 50px;
      padding-left: 50px;
   }

   .texet__2 {
      padding-top: 50px;
      padding-left: 50px;
   }
}

@media (max-width: 375px) {
   .texet__1 {
      padding-top: 25px;
      padding-left: 25px;
   }

   .texet__2 {
      padding-top: 25px;
      padding-left: 25px;
   }
}

.main__block2 {
   background: #FFFFFF;
}


.block2__text1 {
   text-align: center;
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.06em;
   padding-top: 156px;
   color: #22356F;
}

.block2__text2 {
   text-align: center;
   padding-top: 20px;
   font-size: 24px;
   line-height: 34px;
   letter-spacing: 0.005em;
   color: #22356F;
}

.block2__text3 {
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.06em;
   padding-top: 76px;
   color: rgba(34, 53, 111, 0.5);
}

@media (max-width: 1024px) {
   .block2__text1 {
      padding-top: 100px;

   }

   .block2__text3 {
      padding-top: 50px;
   }
}

@media (max-width: 768px) {
   .block2__text1 {
      padding-top: 50px;

   }

   .block2__text3 {
      padding-top: 50px;
   }
}

@media (max-width: 375px) {
   .block2__text1 {
      padding-top: 25px;

   }

   .block2__text3 {
      padding-top: 25px;
   }
}

.main-block3 {
   margin-top: 24px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.main-block3__block1 {
   position: relative;
}



.block3__line {
   position: absolute;
   width: 255px;
   height: 72px;
   left: 16%;
   box-shadow: inset 0px -1px 0px #FFFFFF;
}

.block3__text1 {
   padding-top: 95px;
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   color: #FFFFFF;
   width: 360px;
   height: 360px;
   background: #FFE2DE;
   text-align: center;
}

.block3__text2 {
   padding-top: 95px;
   text-align: center;
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   color: #FFFFFF;
   width: 360px;
   height: 360px;
   background: #C4E769;
}

.block3__text3 {
   padding-top: 95px;
   text-align: center;
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   color: #FFFFFF;
   width: 360px;
   height: 360px;
   background: #62D0DF;
}

.block3__text4 {
   padding-top: 95px;
   text-align: center;
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   color: #FFFFFF;
   width: 360px;
   height: 360px;
   background: #0052C1;
}

.sfer1 {
   position: absolute;
   top: 30%;
   left: 16%;
}

.sfer__1 {
   position: absolute;
   top: 30%;
   left: 9%;
}

.main-block4 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 1440px;
   margin: 120px auto 0 auto;
}

.main-block4__block {
   position: relative;
}

.block4__line {
   position: absolute;
   width: 340px;
   height: 96px;
   box-shadow: inset 0px -1px 0px #FFFFFF;
   left: 16%;
}

.block4__text {
   padding-top: 126px;
   width: 480px;
   height: 480px;
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   text-align: center;
   color: #FFFFFF;

   &.text1 {
      background: #22356F;
   }

   &.text2 {
      background: #0052C1;
   }

   &.text3 {
      background-color: #C4E769;
   }

   &.text4 {
      background-color: #62D0DF;
   }

   &.text5 {
      background-color: #DEE1FF;
   }

   &.text6 {
      background-color: #8F00FF;
   }
}

#sfer2 {
   position: absolute;
   top: 29%;
   left: 24%;
}

.main-block5 {
   display: flex;
   flex-wrap: wrap;
   max-width: 1440px;
   margin: 77px auto 0 auto;
}

.main-block5__text {
   height: 240px;
   width: 480px;
}

.main-block5__p1 {
   padding-left: 105px;
   font-size: 28px;
   line-height: 33px;
   letter-spacing: -0.03em;
   color: #22356F;
}

.main-block5__p2 {
   padding-left: 105px;
   padding-top: 28px;
   font-size: 16px;
   line-height: 25px;
   letter-spacing: -0.03em;
   color: rgba(34, 53, 111, 0.5);
}

.main-block6 {
   display: flex;
   max-width: 1440px;
   margin: 0 auto;
}



.block6__text1 {
   font-size: 16px;
   line-height: 12px;
   letter-spacing: 0.06em;
   margin-top: 103px;
   margin-left: 106px;
   margin-bottom: 255px;
   color: #22356F;
}

.block6__text2 {
   margin-left: 106px;
   margin-bottom: 152px;
   font-size: 36px;
   line-height: 53px;
   letter-spacing: -0.01em;
   color: #22356F;
}

.block6__but1 {
   margin-left: 106px;
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.1em;
   background: #FFFFFF;
   color: #FAB63E;
   margin-bottom: 25px;
}

@media (max-width: 1024px) {
   .main-block6 {
      flex-wrap: wrap;
      flex-direction: column-reverse;
   }

   .block6__text1 {
      margin-top: 75px;
      margin-left: 75px;
      margin-bottom: 100px;
   }

   .block6__text2 {
      margin-left: 75px;
      margin-bottom: 75px;
   }

   .block6__but1 {
      margin-left: 75px;
   }
}

@media (max-width: 768px) {

   .block6__text1 {
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 75px;
   }

   .block6__text2 {
      margin-left: 50px;
      margin-bottom: 50px;
   }

   .block6__but1 {
      margin-left: 50px;
   }

   .img__man1 img {
      width: 100%;
      height: 800px;
      object-fit: cover;
   }
}

@media (max-width: 375px) {

   .block6__text1 {
      margin-top: 25px;
      margin-left: 25px;
      margin-bottom: 50px;
   }

   .block6__text2 {
      margin-left: 25px;
      margin-bottom: 25px;
   }

   .block6__but1 {
      margin-left: 25px;
   }

   .img__man img {
      object-position: center;
   }
}

.main-block7 {
   display: flex;
   max-width: 1440px;
   margin: 0 auto;
}

.block7__texts {
   background: #22356F;
}

.block7__text1 {
   font-size: 16px;
   line-height: 12px;
   letter-spacing: 0.06em;
   margin-top: 103px;
   margin-left: 180px;
   margin-bottom: 230px;
   color: #FFFFFF;
}

.block7__text2 {
   font-size: 64px;
   line-height: 94px;
   letter-spacing: -0.01em;
   margin-left: 180px;
   margin-bottom: 75px;
   color: #FFFFFF;
}

.block7__text3 {
   font-size: 36px;
   line-height: 53px;
   letter-spacing: -0.005em;
   margin-left: 180px;
   margin-bottom: 125px;
   color: #FFFFFF;
}

.block7__but1 {
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.1em;
   background: #22356F;
   color: #62D0DF;
   margin-left: 180px;
}

@media (max-width: 1024px) {
   .main-block7 {
      flex-wrap: wrap;
   }

   .block7__text1 {
      margin-top: 75px;
      margin-left: 75px;
      margin-bottom: 150px;
   }

   .block7__text2 {
      margin-left: 75px;
      margin-bottom: 50px;
   }

   .block7__text3 {
      margin-left: 75px;
      margin-bottom: 75px;
   }

   .block7__but1 {
      margin-left: 75px;
      margin-bottom: 25px;
   }
}

@media (max-width: 768px) {
   .block7__text1 {
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 100px;
   }

   .block7__text2 {
      margin-left: 50px;
      margin-bottom: 50px;
   }

   .block7__text3 {
      margin-left: 50px;
      margin-bottom: 50px;
   }

   .block7__but1 {
      margin-left: 50px;
      margin-bottom: 25px;
   }

   .img__man img {
      width: 100%;
      height: 800px;
      object-fit: cover;
   }
}

@media (max-width: 375px) {
   .block7__text1 {
      margin-top: 25px;
      margin-left: 25px;
      margin-bottom: 50px;
   }

   .block7__text2 {
      margin-left: 25px;
      margin-bottom: 25px;
   }

   .block7__text3 {
      margin-left: 25px;
      margin-bottom: 25px;
   }

   .block7__but1 {
      margin-left: 25px;
      margin-bottom: 25px;
   }

   .img__man1 img {
      object-position: center;
   }
}

.footer-block1 {
   display: flex;
   max-width: 1440px;
   margin: 0 auto;
}

.footer-block1__texts {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}

.footer-block1__text1 {
   font-size: 14px;
   line-height: 11px;
   letter-spacing: -0.006em;
   margin-top: 98px;
   color: #22356F;
   margin-left: 25px;
}

.footer__block1 {
   font-size: 14px;
   line-height: 23px;
   letter-spacing: -0.006em;
   color: rgba(34, 53, 111, 0.5);
}

.footer__text2 {
   margin-left: 25px;

}

.footer__text3 {
   margin-left: 25px;
}

.footer__text4 {
   margin-left: 25px;
}

@media (max-width: 1024px) {
   .footer-block1 {
      flex-wrap: wrap;
      flex-direction: column-reverse;
   }

   .footer-block1__text1 {
      margin-top: 75px;
      text-align: center;
   }

   .footer-block1__texts {
      flex-wrap: wrap;
   }
}

@media (max-width: 768px) {
   .footer-block1__text1 {
      margin-top: 50px;
   }

   .footer-block1__img1 img {
      width: 100%;
      height: 380px;
      object-fit: cover;
      object-position: center;
   }
}

@media (max-width: 375px) {
   .footer-block1__text1 {
      margin-top: 25px;
   }
}

.footer__block2 {
   position: relative;
   max-width: 1440px;
   min-height: 80px;
   margin: 0 auto;
   background: #62D0DF;
}

.footer2__img {
   position: absolute;
   vertical-align: middle;
   left: 179px;
   top: 33px;
}

.footer2__text1 {
   font-size: 14px;
   line-height: 11px;
   letter-spacing: -0.006em;
   color: #FFFFFF;
   padding-left: 194px;
   padding-top: 32px;
}