* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 1440px;
  margin: 0px auto;
}

.header__texet {
  display: inline-block;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  margin-top: 27px;
  margin-left: 179px;
  color: #62D0DF;
}

.navigation {
  display: inline-block;
}

.nav__1 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 320px;
  color: #22356F;
  border-bottom: 2px solid;
  padding: 0 0 10px;
  width: 60px;
  text-align: center;
}

.nav__2 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  color: #22356F;
}

.nav__3 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  color: #22356F;
}

.nav__4 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  color: #22356F;
}

.button__top {
  margin-left: 319px;
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  background: #62D0DF;
  border-radius: 50px;
}

.nav__line {
  width: 50px;
  height: 2px;
  background-color: #22356F;
  margin-left: 590px;
}