* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 1920px;
  margin: 0px auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F4F9E2;
}

.header__texet {
  display: inline-block;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  margin-top: 27px;
  color: #62D0DF;
}

.navigation {
  display: inline-block;
  margin-top: 38px;
}

.nav__1 {
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
  border-bottom: 2px solid;
  padding: 0 0 10px;
  width: 60px;
  text-align: center;
}

.nav__2 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  color: #22356F;
}

.nav__3 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  color: #22356F;
}

.nav__4 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  color: #22356F;
}

.button__top {
  position: relative;
  z-index: 999999;
  margin-top: 27px;
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  background: #62D0DF;
  border-radius: 50px;
}

.header__main {
  height: 840px;
  background-color: #F4F9E2;
}

.header__texet1 {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
  padding-top: 187px;
  padding-left: 240px;
}

.header__texet2 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  padding-left: 240px;
  color: #22356F;
  padding-top: 20px;
}

.header__texet3 {
  font-size: 24px;
  line-height: 42px;
  padding-left: 240px;
  padding-top: 20px;
  color: #22356F;
}

.header__but1 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #F9B640;
  width: 150px;
  height: 50px;
  margin-left: 240px;
  margin-top: 63px;
}

.header__but2 {
  width: 150px;
  height: 50px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  background: #F4F9E2;
  margin-left: 38px;
}

#dude1 {
  z-index: 2;
  position: absolute;
  vertical-align: middle;
  left: 1050px;
  top: -30px;
}

#gulf {
  z-index: 1;
  position: absolute;
  vertical-align: middle;
  left: 1050px;
  top: -30px;
}

.main__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #62D0DF;
}

.texet__1 {
  padding-top: 153px;
  padding-left: 178px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.texet__2 {
  padding-top: 75px;
  font-size: 24px;
  line-height: 35px;
  padding-left: 178px;
  color: #FFFFFF;
}

.main__block2 {
  background: #FFFFFF;
  height: 361px;
}

.block2__text1 {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding-top: 156px;
  color: #22356F;
}

.block2__text2 {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356F;
}

.block2__text3 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 76px;
  color: rgba(34, 53, 111, 0.5);
}