* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 0px auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F4F9E2;
}

.header__texet {
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  margin-top: 27px;
  margin-right: 170px;
  color: #62D0DF;
}

@media (max-width: 992px) {
  .header__texet {
    margin-right: 100px;
  }
}
@media (max-width: 767px) {
  .header__texet {
    margin-right: 50px;
  }
}
@media (max-width: 365px) {
  .header__texet {
    margin-right: 25px;
  }
}
.navigation {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 38px;
}

.nav {
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
  margin-right: 30px;
}

a.nav:hover {
  border-bottom: 2px solid;
  padding: 0 0 10px;
  width: 60px;
  text-align: center;
}

.button__top {
  position: relative;
  z-index: 999999;
  margin-top: 27px;
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  background: #62D0DF;
  border-radius: 50px;
  margin-left: 287px;
}

@media (max-width: 992px) {
  .button__top {
    margin-left: 200px;
  }
}
@media (max-width: 767px) {
  .button__top {
    margin-left: 50px;
  }
}
@media (max-width: 365px) {
  .button__top {
    margin-right: 25px;
  }
}
.header__main {
  height: 840px;
  background-color: #F4F9E2;
}

.header__texet1 {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
  padding-top: 187px;
  padding-left: 240px;
}

.header__texet2 {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  padding-left: 240px;
  color: #22356F;
  padding-top: 20px;
}

.header__texet3 {
  font-size: 24px;
  line-height: 42px;
  padding-left: 240px;
  padding-top: 20px;
  color: #22356F;
}

.header__but1 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #F9B640;
  width: 150px;
  height: 50px;
  margin-left: 240px;
  margin-top: 63px;
}

.header__but2 {
  width: 150px;
  height: 50px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  background: #F4F9E2;
  margin-left: 38px;
}

@media (max-width: 992px) {
  .header__texet1 {
    padding-top: 100px;
    padding-left: 100px;
  }
  .header__texet2 {
    padding-left: 100px;
  }
  .header__texet3 {
    padding-left: 100px;
  }
  .header__but1 {
    margin-left: 100px;
  }
}
@media (max-width: 767px) {
  .header__texet1 {
    padding-top: 50px;
    padding-left: 50px;
  }
  .header__texet2 {
    padding-left: 50px;
  }
  .header__texet3 {
    padding-left: 50px;
  }
  .header__but1 {
    margin-top: 25px;
    margin-left: 50px;
  }
}
@media (max-width: 365px) {
  .header__texet1 {
    padding-left: 25px;
  }
  .header__texet2 {
    padding-left: 25px;
  }
  .header__texet3 {
    padding-left: 25px;
  }
  .header__but1 {
    margin-left: 25px;
    margin-top: 25px;
  }
}
#dude1 {
  z-index: 2;
  position: absolute;
  vertical-align: middle;
  left: 1050px;
  top: -30px;
}

@media (max-width: 992px) {
  #dude1 {
    display: none;
  }
}
@media (max-width: 767px) {
  #dude1 {
    display: none;
  }
}
.main__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #62D0DF;
}

.texet__1 {
  padding-top: 153px;
  padding-left: 178px;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.texet__2 {
  padding-top: 75px;
  font-size: 24px;
  line-height: 35px;
  padding-left: 178px;
  color: #FFFFFF;
}

.main__block2 {
  background: #FFFFFF;
  height: 361px;
}

.block2__text1 {
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding-top: 156px;
  color: #22356F;
}

.block2__text2 {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356F;
}

.block2__text3 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 76px;
  color: rgba(34, 53, 111, 0.5);
}

.main-block3 {
  position: relative;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block3__line1 {
  position: absolute;
  width: 255px;
  height: 72px;
  left: 16%;
  background: #FFE2DE;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
}

.block3__line2 {
  position: absolute;
  width: 255px;
  height: 72px;
  left: 34.5%;
  background: #C4E769;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
}

.block3__line3 {
  position: absolute;
  width: 255px;
  height: 72px;
  left: 53.5%;
  background: #62D0DF;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
}

.block3__line4 {
  position: absolute;
  width: 255px;
  height: 72px;
  left: 72%;
  background: #0052C1;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
}

.block3__text1 {
  padding-top: 95px;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  width: 360px;
  height: 360px;
  background: #FFE2DE;
  text-align: center;
}

.block3__text2 {
  padding-top: 95px;
  text-align: center;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  width: 360px;
  height: 360px;
  background: #C4E769;
}

.block3__text3 {
  padding-top: 95px;
  text-align: center;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  width: 360px;
  height: 360px;
  background: #62D0DF;
}

.block3__text4 {
  padding-top: 95px;
  text-align: center;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  width: 360px;
  height: 360px;
  background: #0052C1;
}

.sfer1 {
  position: absolute;
  top: 30%;
  left: 16%;
}

.sfer2 {
  position: absolute;
  top: 30%;
  left: 32.5%;
}

.sfer3 {
  position: absolute;
  top: 30%;
  left: 53.5%;
}

.sfer4 {
  position: absolute;
  top: 30%;
  left: 72.5%;
}

.main-block4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1440px;
  margin: 120px auto 0 auto;
}

.block4 {
  position: absolute;
  width: 340px;
  height: 96px;
  -webkit-box-shadow: inset 0px -1px 0px #FFFFFF;
          box-shadow: inset 0px -1px 0px #FFFFFF;
}

.line1 {
  left: 5%;
  background: #22356F;
}

.block4__text {
  padding-top: 126px;
  width: 480px;
  height: 480px;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  text-align: center;
  color: #FFFFFF;
}

.text1 {
  background: #22356F;
}

.line2 {
  background: #0052C1;
}

.text2 {
  background: #0052C1;
}

.line3 {
  left: 72%;
  background-color: #C4E769;
}

.text3 {
  background-color: #C4E769;
}

.line4 {
  left: 5%;
  top: 50%;
  background-color: #62D0DF;
}

.text4 {
  background-color: #62D0DF;
}

.line5 {
  top: 50%;
  background-color: #DEE1FF;
}

.text5 {
  background-color: #DEE1FF;
}

.line6 {
  top: 50%;
  left: 72%;
  background-color: #8F00FF;
}

.text6 {
  background-color: #8F00FF;
}

#sfer__1 {
  position: absolute;
  top: 14.5%;
  left: 8%;
}

#sfer__2 {
  position: absolute;
  top: 14.5%;
  left: 42%;
}

#sfer__3 {
  position: absolute;
  top: 14.5%;
  left: 78%;
}

#sfer__4 {
  position: absolute;
  top: 64.5%;
  left: 10%;
}

#sfer__5 {
  position: absolute;
  top: 64.5%;
  left: 45%;
}

#sfer__6 {
  position: absolute;
  top: 64.5%;
  left: 78%;
}

.main-block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1440px;
  margin: 77px auto 0 auto;
}

.main-block5__text {
  height: 240px;
  width: 480px;
}

.main-block5__p1 {
  padding-left: 105px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
}

.main-block5__p2 {
  padding-left: 105px;
  padding-top: 28px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.main-block6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.block6__text1 {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  margin-top: 103px;
  margin-left: 106px;
  margin-bottom: 255px;
  color: #22356F;
}

.block6__text2 {
  margin-left: 106px;
  margin-bottom: 152px;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356F;
}

.block6__but1 {
  margin-left: 106px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  background: #FFFFFF;
  color: #FAB63E;
}

.main-block7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.block7__texts {
  background: #22356F;
}

.block7__text1 {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  margin-top: 103px;
  margin-left: 180px;
  margin-bottom: 230px;
  color: #FFFFFF;
}

.block7__text2 {
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  margin-left: 180px;
  margin-bottom: 75px;
  color: #FFFFFF;
}

.block7__text3 {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  margin-left: 180px;
  margin-bottom: 150px;
  color: #FFFFFF;
}

.block7__but1 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  background: #22356F;
  color: #62D0DF;
  margin-left: 180px;
}

.footer-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-block1__texts {
  width: 867px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-block1__text1 {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  margin-top: 98px;
  color: #22356F;
}

.text2__flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__block1 {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.footer__text2 {
  margin-left: 68px;
}

.footer__text3 {
  margin-left: 56px;
}

.footer__text4 {
  margin-left: 47px;
}

.footer__block2 {
  position: relative;
  width: 1440px;
  height: 80px;
  margin: 0 auto;
  background: #62D0DF;
}

.footer2__img {
  position: absolute;
  vertical-align: middle;
  left: 179px;
  top: 33px;
}

.footer2__text1 {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  padding-left: 194px;
  padding-top: 32px;
}